* {
	font: 16px normal Arial, sans-serif;
}

#wrap {
	width: 840px;
	margin: 0 auto;
}

#grid {
	height: 700px;
	width: 700px;
	font-size: 0;
	margin: 40px auto;
}

.grid-square {
	background-color: #eee;
	display: inline-block;
}

#slider {
	width: 50%;
	margin: 40px auto;
}

#toggle {
	width: 60px;
	margin: 40px auto;
}

#footer {
	background-color: #f5f5f5;
	border-top: 1px solid #d5d5d5;
}